In [1]:
import pandas as pd

In [22]:
data = pd.read_csv('data/gender_model.csv')
data.index = data.pop('Age Month')

In [45]:
melted_data = data.unstack().reset_index()
melted_data.columns = ['Month', 'Age', 'Gender']

In [75]:
melted_data.to_csv('data/melted_table_reference.csv', index=False)

In [56]:
import numpy as np

In [58]:
months = np.array(melted_data['Month'].unique().tolist())
months

array(['January', 'February', 'March', 'April', 'May', 'June', 'July',
       'August', 'September', 'October', 'November', 'December'],
      dtype='<U9')

In [48]:
melted_data['Age'].unique().tolist()

[18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45]

In [76]:
month_trial = 'January'
age_mom = 48
age_you = 24
age_trial = age_mom - age_you

In [77]:
melted_data[(melted_data['Month'] == month_trial) & (melted_data['Age'] == age_trial)]['Gender'].values[0]

'M'

In [73]:
month_entry = months[np.where(months == month_trial)[0][0] - 9]
month_entry

'April'

In [72]:
months[month_entry]

'April'

In [67]:
melted_data

        Month  Age Gender
0     January   18      F
1     January   19      M
2     January   20      F
3     January   21      M
4     January   22      F
..        ...  ...    ...
331  December   41      F
332  December   42      M
333  December   43      M
334  December   44      M
335  December   45      F

[336 rows x 3 columns]

In [30]:
data

,January,February,March,April,May,June,July,August,September,October,November,December
Age Month,,,,,,,,,,,,
18,F,M,F,M,M,M,M,M,M,M,M,M
19,M,F,M,F,F,M,M,F,M,M,F,F
20,F,M,F,M,M,M,M,M,M,F,M,M
21,M,F,F,F,F,F,F,F,F,F,F,F
22,F,M,M,F,M,F,F,M,F,F,F,F
23,M,M,M,F,M,M,F,F,F,M,M,F
24,M,F,F,M,M,F,M,F,M,M,F,M
25,F,M,F,M,F,M,F,M,F,M,M,M
26,M,M,M,M,M,F,M,F,F,M,F,F
27,F,F,M,M,F,M,F,F,M,F,M,M
28,M,M,M,F,F,M,F,M,F,F,M,F
29,F,M,F,F,M,F,M,M,F,M,F,F
30,M,M,F,M,F,M,M,M,M,M,M,M
31,M,M,M,M,F,F,M,F,M,F,F,F
32,M,F,F,M,F,M,M,F,M,M,F,M
33,F,M,M,F,F,M,F,M,F,M,M,F
34,M,M,F,F,M,F,M,M,F,M,F,F
35,M,F,M,F,M,F,M,F,M,M,F,M
36,M,F,M,M,M,F,M,M,F,F,F,F
37,F,F,M,F,F,F,M,F,F,M,M,M
38,M,M,F,F,M,F,F,M,F,F,M,F
39,F,F,M,F,F,F,M,F,M,M,F,M
40,M,M,M,F,M,F,M,F,M,F,F,M
41,F,F,M,F,M,M,F,F,M,F,M,F
42,M,F,F,M,M,M,M,M,F,M,F,M
43,F,M,F,F,M,M,M,F,F,F,M,M
44,M,F,F,F,M,F,M,M,F,M,F,M
45,F,M,F,M,F,F,M,F,M,F,M,F

In [80]:
melted_data[(melted_data['Month'] == 'March') & (melted_data['Age'] == 26)]['Gender'].values[0]

'M'

In [78]:
!pipreqs .

INFO: Successfully saved requirements file in ./requirements.txt